.feed-entry {
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.25em 0.25em 0.125em;
}

.feed-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.feed-patient {
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
}

.feed-patient-descr {
  width: 2.75em;
  text-align: left;
  margin-left: 0.25em;
}

.feed-age,
.feed-sex,
.feed-symptoms,
.feed-symptom {
  display: inline-block;
}

.feed-sex {
  margin-left: 0.0625em;
}

.feed-symptoms {
  flex-grow: 1;
  text-align: right;
  font-size: 0.8em;
  margin-top: 0.125em;
}

.feed-symptom {
  width: 1.5em;
  text-align: center;
  color: #ccc;
}

.feed-symptom-true {
  color: #000;
}

.feed-date {
  text-align: right;
  flex-grow: 1;
}

.feed-date-relative {
  font-size: 0.8em;
}

.feed-date-absolute {
  color: #aaa;
  font-size: 0.8em;
}

.feed-status {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25em;
  margin-right: 0.5em;
  text-align: center;
}

.feed-status-result {
  font-size: 1.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.feed-status-result-positive {
  color: rgb(194, 10, 10);
}

.feed-status-result-negative {
  color: rgb(0, 0, 0);
}

.feed-status-score,
.feed-symptoms-score {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #aaa;
  height: 4px;
}

.feed-status-score-bar,
.feed-symptoms-score-bar {
  height: 100%;
  background: #aaa;
}
